
<% provide(:title, 'Create Account') %>
<div id="logreg-forms">
  <h1 class="h3 mb-1 font-weight-normal" style="text-align: center">Create Account</h1>
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), class: "form-sigin") do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <%= f.label :first_name, "First Name" %>
    <%= f.text_field :first_name, class: "form-control border-primary mb-2", placeholder: "First Name" %>
    
    <%= f.label :last_name, "Last Name" %>
    <%= f.text_field :last_name, class: "form-control border-primary mb-2", placeholder: "Last Name" %>

    <%= f.label :email, "Enter you email address..." %>
    <%= f.email_field :email, class: "form-control border-primary mb-2", placeholder: "Email Address"%>
    </br>
    <% if true %>
      <em><%= f.label :password, "Password" %> (<%= 8 %> characters minimum)</em>
    <% else %>
      <%= f.label :password, "Password" %>
    <% end %>
    <%= f.password_field :password, autocomplete: "new-password", class: "form-control border-primary mb-2", placeholder: "Password" %>
    <ul>
      <li>Must contain at least 1 uppercase character</li>
      <li>Must contain at least 1 numerical character</li>
      <li>Must contain at least 1 lowercase character</li>
      <li>Must contain at least 1 special character</li>
    </ul>
    <%= f.label :password_confirmation, "Password Confirmation" %>
    <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control border-primary mb-2", placeholder: "Password Confirmation" %>

    <div class="actions">
        <%= f.submit 'Create Account', class: "btn btn-success form-control mt-1" %>
    </div>
  <% end %>
</div>
