<nav class="navbar navbar-expand-lg navbar-light">
    <div class="container-fluid">
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav", style="font-size: 40px;">
                <%= button_to "<", shift_date_left_path(date: @current_date), class: "nav-link" %>
            </ul>
            <ul class="navbar-nav mx-auto" style="position: absolute; left: 50%; transform: translateX(-50%);">
                <li class="nav-item", style="font-size: 40px;">
                    <h1>
                        <% if @current_date == Date.today %>
                            <%= "Today" %>
                        <% else %>
                            <%= @current_date %>
                        <% end %>
                    </h1>
                </li>
            </ul>
            <ul class="navbar-nav ms-auto", style="font-size: 40px;">
                <%= button_to ">", shift_date_right_path(date: @current_date), class: "nav-link" %>
            </ul>
        </div>
    </div>
</nav>
</br>
<% if @entry.nil? %>
    <div class="alert alert-success", style="text-align: center; width: auto; margin-left: 25%; margin-right: 25%; margin-top: 20px; margin-bottom: 10px">
        <p>
            You haven't logged an entry for <%= @current_date %>.
        </p>
        <p>
            Create a new entry <%= link_to "here", new_entry_path(date: @current_date) %>
        </p>
    </div>
<% else %>
    <div class="card">
    <div class="container mt-10">
        <!-- Row 1 -->
        <div class="left">
        </div>
        <div class="middle">
            <div class="column-content figure">
                <h2 style="font-size: 30px;">Macronutrient Breakdown (kCal)</h4>
                </br>
                <p><%= pie_chart @nutrition_data, legend: true, height: '400px', width: '100%' %></p>
            </div>
        </div>
        <div class="right">
        </div>
        <!-- Row 2 -->
        <div class="left">
            <div class="column-content">
                <h2 style="font-size: 30px;">Mood (0-10)</h2>
                <p style="font-size: 30px;"><%= @entry.mood %></p>
            </div>
        </div>
        <div class="right">
            <div class="column-content">
                <h2 style="font-size: 30px;">Calories Burned</h2>
                <p style="font-size: 30px;"><%= (0.05 * @entry.steps).round(2) %>kCal</p>
            </div>
        </div>
        <!-- Row 3 -->
        <div class="left">
            <div class="column-content header">
                <h2 style="font-size: 30px;">Sleep (Hours)</h2>
                <p style="font-size: 30px;"><%= @entry.sleep_hrs %></p>
            </div>
        </div>
        <div class="right">
            <div class="column-content header">
                <h2 style="font-size: 30px;">Steps</h2>
                <p style="font-size: 30px;"><%= @entry.steps %></p>

            </div>
        </div>
    </div>
    </br>
    </br>
    <p style="text-align: center; font-size: 20px;">
        <%= @entry.description %>
    </p>    
    </div>
    <div class="card buttons-card">
        <%= button_to 'Delete Entry', entry_path(@entry), method: :delete, class: "button btn-25" %>
        <%= link_to 'Edit Entry', edit_entry_path(@entry, date: @current_date), method: :get, class: "button btn-75" %>
    </div>
<% end %>