<h1>All Entries</h1>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">

        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <%= "<" %>
            </ul>
            <ul class="navbar-nav mx-auto" style="position: absolute; left: 50%; transform: translateX(-50%);">
                <li class="nav-item">
                    <% if @current_date == Date.today %>
                        <%= "Today" %>
                    <% else %>
                        <%= @current_page %>
                    <% end %>
                </li>
            </ul>
            <ul class="navbar-nav ms-auto">
                <%= ">" %>
            </ul>
        </div>
    </div>
</nav>
<div>
 <% @entries.each do |entry| %>
   <div class="container">
      <div class="row">
        <%= entry_form(entry, true) %>
      </div>
  </div>
   <%= button_to "Delete", entry, method: :delete, data: { confirm: "Are you sure you want to delete this Project ?"} %>
 <% end %>
</div>