<h1 class="mt-2" style="text-align: center">Health and Mood Report</h1>

<div class="card filter-card-rpt">
    <!-- Filter Form -->
    <%= form_with url: report_path, method: :get, local: true, html: { class: 'filter-form-rpt' } do |form| %>
      <div class="filter-form-rpt">
        <div class="filter-row-rpt">
            <div class="form-group-rpt">
                <%= form.label :start_date, 'Start Date' %>
                <%= form.date_field :start_date, value: params[:start_date] %>
            </div>

            <div class="form-group-rpt">
                <%= form.label :min_mood, 'Minimum Mood' %>
                <%= form.select :min_mood, options_for_select(0..10, params[:min_mood]) %>
            </div>
            <div class="form-group-rpt">
                <%= form.label :min_sleep, 'Minimum Sleep Hours' %>
                <%= form.number_field :min_sleep, step: 0.1, value: params[:min_sleep] %>
            </div>
        </div>

        <div class="filter-row-rpt">
            <div class="form-group-rpt">
                <%= form.label :end_date, 'End Date' %>
                <%= form.date_field :end_date, value: params[:end_date] %>
            </div>
            <div class="form-group-rpt">
                <%= form.label :max_mood, 'Maximum Mood' %>
                <%= form.select :max_mood, options_for_select(0..10, params[:max_mood]) %>
            </div>
            <div class="form-group-rpt">
                <%= form.label :max_sleep, 'Maximum Sleep Hours' %>
                <%= form.number_field :max_sleep, step: 0.1, value: params[:max_sleep] %>
            </div>
        </div>

        <div class="filter-row-rpt">
            <div class="form-group-rpt">
            </div>
            <div class="form-group-rpt">
                <%= form.submit 'Apply Filters', class: 'btn btn-outline-dark', style: "width: 100%; text-align: center" %>
            </div>
            <div class="form-group-rpt">
            </div>
        </div>
      </div>
    <% end %>
</div>

<div class="container-rpt">
    <div class="column-rpt">
        <div class="card kpi-card-rpt">
            <h2 class="kpi-title-rpt">Mood Summary</h2>
            <div class="kpi-group-rpt">
                <div class="kpi-item-rpt">
                    <span class="kpi-label-rpt">Average Mood:</span>
                    <span class="kpi-value-rpt"><%= @mood_summary[:average_mood].round(2) %></span>
                </div>
                <div class="kpi-item-rpt">
                    <span class="kpi-label-rpt">Highest Mood:</span>
                    <span class="kpi-value-rpt"><%= @mood_summary[:mood_high] %></span>
                </div>
                <div class="kpi-item-rpt">
                    <span class="kpi-label-rpt">Lowest Mood:</span>
                    <span class="kpi-value-rpt"><%= @mood_summary[:mood_low] %></span>
                </div>
                <div class="kpi-item-rpt">
                    <span class="kpi-label-rpt">Average Sleep Hours:</span>
                    <span class="kpi-value-rpt"><%= @health_summary[:average_sleep_hrs].round(2) %></span>
                </div>
            </div>
        </div>
        <div class="card chart-card-rpt">
            <h2 style="text-align: center">Mood Over Time</h2>
            <div role="img" aria-label="<%= generate_line_chart_desc('mood') %>">
                <%= line_chart @mood_data, xtitle: 'Date', ytitle: 'Mood', height: '200px', width: '95%', library: { responsive: true } %>
            </div>       
        </div>
    </div>

    <div class="column-rpt">
        <div class="card kpi-card-rpt">
            <h2 class="kpi-title-rpt">Health Summary</h2>
            <div class="kpi-group-rpt">
                <div class="kpi-item-rpt">
                    <span class="kpi-label-rpt">Total Steps:</span>
                    <span class="kpi-value-rpt"><%= @health_summary[:total_steps] %></span>
                </div>
                <div class="kpi-item-rpt">
                    <span class="kpi-label-rpt">Average Protein Intake:</span>
                    <span class="kpi-value-rpt"><%= @health_summary[:average_protein].round(2) %> grams</span>
                </div>
                <div class="kpi-item-rpt">
                    <span class="kpi-label-rpt">Average Carbohydrate Intake:</span>
                    <span class="kpi-value-rpt"><%= @health_summary[:average_carbs].round(2) %> grams</span>
                </div>
                <div class="kpi-item-rpt">
                    <span class="kpi-label-rpt">Average Fat Intake:</span>
                    <span class="kpi-value-rpt"><%= @health_summary[:average_fats].round(2) %> grams</span>
                </div>
            </div>
        </div>
        <div class="card chart-card-rpt">
            <h2 style="text-align: center">Calories Over Time</h2>
            <div role="img" aria-label="<%= generate_line_chart_desc('calorie intake') %>">
                <%= line_chart @calorie_data, xtitle: 'Date', ytitle: 'Calories', height: '200px', width: '95%', library: { responsive: true } %>
            </div>            
        </div>
    </div>
</div>
